$font: 'Raleway',
sans-serif;
$font_bold: bold;
$font_heavy_bold: 800;
$font_light: 300;

body {
    font-family: $font;
}

section {
    header {

        h1 {
            font-weight: $font_heavy_bold;
        }

        h2 {
            font-weight: $font_bold;
            font-size: 2.9rem;
            margin-top: 30px;
        }
    }

    p {
        font-weight: $font_light;
    }
}

$container_padding_tb: 70px;

.container {
    padding-top: $container_padding_tb;
    padding-bottom: $container_padding_tb;
}

.container_margin_tb {
    margin-top: 25px;
    margin-bottom: 25px;
}

img {
    height: auto;
    max-width: 100%;
}


.white {
    color: white;
}

$button_font_color: white;

button {
    color: $button_font_color;
    text-transform: uppercase;
}

.btn {
    padding: 10px 15px 10px 15px;
    box-shadow: 0px 2px 5px grey;
    border-radius: 2px;
}

.flex {
    display: flex;
}

.padding-top-bot-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.margin-top-30 {
    margin-top: 30px;
}

/*----------------------SECTION-0-NAV----------------------*/

nav {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    z-index: 10;

    .container {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .w {
        width: 100%;
    }
}

/*----------------------SECTION-1----------------------*/

.home {
    height: 100vh;
    background-color: #f9f8fb;
    background-image: url("../img/bg/strawberry.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    section {

        button {
            background-color: #ff6033;
        }
    }
}

@media (max-width: 767px) {
    .home {
        background-size: initial;
        background-position: center -20%;
    }
}

.h_100vh {
    height: 100vh;
}

/*----------------------SECTION-2----------------------*/

.about {
    background: #00bbbb;
}

@media (max-width: 767px) {
    .about {
        .row {
            img {
                margin-left: auto;
                margin-right: auto;
                display: initial;
                width: 70%;
            }
        }
    }
}

.img_shadow {
    box-shadow: 10px 10px 5px grey;
}

/*----------------------SECTION-3----------------------*/

.services {
    background-color: #70bfff;

    h2 {
        display: block;
        margin-top: 42%;
        position: absolute;
    }
    
    .przycisk{
        width:400px;
    }
    
    .text{
        max-width: 250px;
    }
    
    .image{
        width:150px;
    }
    
    
    
    
    .service_button {
        background-color: #ffffff;
        box-shadow: 0 3px 10px rgba(99, 99, 99, 1);
        font-weight: bold;
        height: 80px;
        margin-bottom: 15px;
        margin-right: 15px;

            .text_container {
//                display: flex;
                max-width: 200px;
            }

            .img_container {
                float: right;
                max-width: 70px;
                img {
                    padding: 20px;
                }
        }

//        .img_container:before {
//            border: 1px solid #9d9d9d;
//            content: '';
//            position: absolute;
//            height: 100px;
//        }
    }
}

/*----------------------SECTION-4----------------------*/

#gallery {
    background-color: #ffe92f;

    img {
        margin-top: 29px;
        width: 100%;
    }

    .btn_c_gallery {
        background-color: #5585a2;
    }
}

/*----------------------SECTION-5-SUBSCRIBE----------------------*/

$subscribe_bg_color: white;

#subscribe {
    background-image: url("../img/bg/subscribe_bg2.png");
    background-repeat: no-repeat;
    background-size: initial;
    background-position: right center;

    @media (max-width: 991px) {
        background-position: center 98%;
        min-height: 610px;
    }

    @media (max-width: 575px) {
        background-size: contain;
    }
    section {
        p {
            background-color: $subscribe_bg_color;
        }

        @media (max-width: 991px) {
            text-align: center;
        }
    }

    .btn_c_subscribe {
        background-color: #96b92c; //        margin-top: 15px;
        @media (max-width: 991px) {
            margin-top: 15px;
        }
    }

    .col_button {
        @media (max-width: 991px) {
            text-align: center;
        }
    }

    input[type="email"] {
        padding: 9px;
        width: 100%;
    }
}

/*----------------------SECTION-6-BLOG----------------------*/

#blog {
    background-color: #b07cf7;
}

/*----------------------SECTION-7-CONTACT----------------------*/

#contact {
    background-image: url("../img/bg/contact_bg.png");

    input,
    textarea {
        background-color: #00c4c4;
        border: none;
        color: white;
        margin-bottom: 10px;
        padding: 10px;
        width: 100%;
        opacity: 0.4;
    }

    $placeholder_color: white;

    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $placeholder_color !important;
        opacity: 1;
        /* Firefox */
    }
    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $placeholder_color;
    }
    ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $placeholder_color;
    }

    #message {
        height: 200px;
        resize: none; //        overflow: scroll;
    }

}

//$logo_font: 'Pacifico', cursive;
$foot_padding: 10px;
$foot_font_color: #b9b9b9;
$foot_bg_color: #262626;
#foot {
    background-color: $foot_bg_color;
    color: $foot_font_color;
    padding-top: $foot_padding;
    padding-bottom: $foot_padding; //    .logo_text{
    //        font-family: $logo_font;
    //    }
}
